

#hboxsuperior {
    -fx-background-color: #f0f0f0;
        -fx-background-radius: 20px;

}

#hboxmedio {
     -fx-background-color: #5c05a3;
         -fx-background-radius: 20px;

}

#vboxinferior {
    -fx-background-color: #8a0478;
}


#cuadroTexto {
	-fx-background-color: #5c05a3;
	-fx-text-fill: white;
    -fx-font-size: 18px;

}


#cuadroTexto .content {
    -fx-background-color: black ;
	-fx-text-fill: white;
}

#botonVolver {
    -fx-background-color: white;
	-fx-font-size: 20px;
    -fx-font-smoothing-type: gray;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 5, 5);
}

#botonCerrar {
    -fx-background-radius: 10px;
	-fx-font-weight: bold;
}

#labelSuperior{
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 9, 0, 0, 5);
	-tx-text-fill: black;
}


.labels{
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 9, 0, 0, 5);
	-tx-text-fill: white;
}
